.page-width {
  width: 100%;
  max-width: 1200px;
}

a {
  text-decoration: none;
}

.image-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.mo-ta img {
  max-width: 100%;
}
.mo-ta {
  text-align: justify;
  text-justify: inter-word;
  padding-left: 10px;
  padding-right: 15px;
}

.v-card__title {
  word-break: normal !important;
}